<header class="app-header">
  <div class="brand-group">
    <a class="brand" routerLink="/">{{ 'app.title' | transloco }}</a>
    <span class="version-tag" [title]="('app.lastUpdated' | transloco) + ': ' + lastUpdated">v{{ version }}</span>
  </div>
  <div class="lang-switch">
    <button
      type="button"
      [class.active]="localeService.current() === 'es'"
      (click)="setLocale('es')"
    >
      {{ 'language.es' | transloco }}
    </button>
    <button
      type="button"
      [class.active]="localeService.current() === 'en'"
      (click)="setLocale('en')"
    >
      {{ 'language.en' | transloco }}
    </button>
  </div>
</header>
